@page
@model OnlineStoreV1.Pages.Products.CatalogModel
@{
    
}
 <div class="container">
      <ul
        class="breadcrumb"
        itemscope=""
        itemtype="https://schema.org/BreadcrumbList">
        <li
          itemprop="itemListElement"
          itemscope=""
          itemtype="https://schema.org/ListItem">
          <a itemprop="item" asp-area="" asp-page="/Index">
            <span itemprop="name">Главная</span>
          </a>
          <meta itemprop="position" content="1"/>
        </li>
        <li>
          <span itemprop="name" asp-area="" asp-page="/Products/Catalog">Каталог</span>
        </li>
      </ul>
    </div>
     <section class="container catalog">
         <h1 class="h2">Каталог</h1>
      <div class="btn btn-light open-filter">Фильтр товаров</div>
      <div class="row">
       
        <aside class="col-lg-3 aside">
          <div class="aside-filter" id="filter">
            <div class="aside-filter-menu">
              <h4>Категории</h4>
              <ul class="nav flex-column">
               @foreach(var item in Model.Products)
        {
                <li>
                  <a href="#">@item.Category</a
                  >
                </li>
        }
              </ul>
            
            </div>
            <div class="aside-filter-group">
              <h4>Цена</h4>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <input
                      type="number"
                      min="0"
                      step="1"
                      class="form-control number-without-control"
                      placeholder="От..."
                      value=""
                      id="price-min"
                    />
                  </div>
                  <div class="col">
                    <input
                      type="number"
                      min="0"
                      step="1"
                      class="form-control number-without-control"
                      placeholder="До..."
                      value=""
                      id="price-max"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="aside-filter-group text-right">
              <button class="btn-submit">Выбрать</button>
            </div>
          </div>
        </aside>
       <article class="col-lg-9">
           <div class = "product row">
                @foreach(var item in Model.Products)
                {
                 <div class="col-xl-4 col-lg-6 col-md-6">
                      <div class="product-cart">
                          <div class="product-cart-image">
                               <a asp-page="/Products/Details" asp-route-ID="@item.Id">
                                    <img @item.ImgUrl/>
                               </a>
                          </div>
                            <div class="product-cart-caption">
                                  <h4>
                    <a asp-page="/Products/Details" asp-route-ID="@item.Id">@item.Name</a>
                  </h4>
                    <div class="availability yes">В наличии</div>
                    <div class="characteristics">
                    <ul>
                      <li>@item.DescrLi</li>
                      <li>@item.DescrLiSecond</li>
                    </ul>
                  </div>
                  <div class="rating">
                    <div class="rating-stars jq-stars" data-rating="5">
                      <div class="jq-star" style="width: 15px; height: 15px">
                        <svg
                          version="1.0"
                          class="jq-star-svg"
                          shape-rendering="geometricPrecision"
                          xmlns="http://www.w3.org/2000/svg"
                          width="550px"
                          height="500.2px"
                          viewBox="0 146.8 550 500.2"
                          style="
                            enable-background: new 0 0 550 500.2;
                            stroke-width: 4px;
                          "
                          xml:space="preserve"
                        >
                          <style type="text/css">
                            .svg-empty-555 {
                              fill: url(#555_SVGID_1_);
                            }
                            .svg-hovered-555 {
                              fill: url(#555_SVGID_2_);
                            }
                            .svg-active-555 {
                              fill: url(#555_SVGID_3_);
                            }
                            .svg-rated-555 {
                              fill: #ffc926;
                            }
                          </style>
                          <linearGradient
                            id="555_SVGID_1_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #dbdbdb"></stop>
                            <stop offset="1" style="stop-color: #dbdbdb"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_2_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_3_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <path
                            data-side="center"
                            class="svg-empty-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke: black; fill: transparent"
                          ></path>
                          <path
                            data-side="right"
                            class="svg-active-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke-opacity: 0"
                          ></path>
                          <path
                            data-side="left"
                            class="svg-active-555"
                            d="M121,648c-7.3,0-14.1-2.2-19.8-6.4c-10.4-7.6-15.6-20.3-13.4-33l24-139.9l-101.6-99 c-9.1-8.9-12.4-22.4-8.6-34.5c3.9-12.1,14.6-21.1,27.2-23l140.4-20.4L232,164.6c5.7-11.6,17.3-18.8,30.2-16.8c0.6,0,1,0.4,1,1 v430.1c0,0.4-0.2,0.7-0.5,0.9l-126,66.3C132,646.6,126.6,648,121,648z"
                            style="stroke: black; stroke-opacity: 0"
                          ></path>
                        </svg>
                      </div>
                      <div class="jq-star" style="width: 15px; height: 15px">
                        <svg
                          version="1.0"
                          class="jq-star-svg"
                          shape-rendering="geometricPrecision"
                          xmlns="http://www.w3.org/2000/svg"
                          width="550px"
                          height="500.2px"
                          viewBox="0 146.8 550 500.2"
                          style="
                            enable-background: new 0 0 550 500.2;
                            stroke-width: 4px;
                          "
                          xml:space="preserve"
                        >
                          <style type="text/css">
                            .svg-empty-555 {
                              fill: url(#555_SVGID_1_);
                            }
                            .svg-hovered-555 {
                              fill: url(#555_SVGID_2_);
                            }
                            .svg-active-555 {
                              fill: url(#555_SVGID_3_);
                            }
                            .svg-rated-555 {
                              fill: #ffc926;
                            }
                          </style>
                          <linearGradient
                            id="555_SVGID_1_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #dbdbdb"></stop>
                            <stop offset="1" style="stop-color: #dbdbdb"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_2_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_3_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <path
                            data-side="center"
                            class="svg-empty-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke: black; fill: transparent"
                          ></path>
                          <path
                            data-side="right"
                            class="svg-active-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke-opacity: 0"
                          ></path>
                          <path
                            data-side="left"
                            class="svg-active-555"
                            d="M121,648c-7.3,0-14.1-2.2-19.8-6.4c-10.4-7.6-15.6-20.3-13.4-33l24-139.9l-101.6-99 c-9.1-8.9-12.4-22.4-8.6-34.5c3.9-12.1,14.6-21.1,27.2-23l140.4-20.4L232,164.6c5.7-11.6,17.3-18.8,30.2-16.8c0.6,0,1,0.4,1,1 v430.1c0,0.4-0.2,0.7-0.5,0.9l-126,66.3C132,646.6,126.6,648,121,648z"
                            style="stroke: black; stroke-opacity: 0"
                          ></path>
                        </svg>
                      </div>
                      <div class="jq-star" style="width: 15px; height: 15px">
                        <svg
                          version="1.0"
                          class="jq-star-svg"
                          shape-rendering="geometricPrecision"
                          xmlns="http://www.w3.org/2000/svg"
                          width="550px"
                          height="500.2px"
                          viewBox="0 146.8 550 500.2"
                          style="
                            enable-background: new 0 0 550 500.2;
                            stroke-width: 4px;
                          "
                          xml:space="preserve"
                        >
                          <style type="text/css">
                            .svg-empty-555 {
                              fill: url(#555_SVGID_1_);
                            }
                            .svg-hovered-555 {
                              fill: url(#555_SVGID_2_);
                            }
                            .svg-active-555 {
                              fill: url(#555_SVGID_3_);
                            }
                            .svg-rated-555 {
                              fill: #ffc926;
                            }
                          </style>
                          <linearGradient
                            id="555_SVGID_1_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #dbdbdb"></stop>
                            <stop offset="1" style="stop-color: #dbdbdb"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_2_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_3_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <path
                            data-side="center"
                            class="svg-empty-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke: black; fill: transparent"
                          ></path>
                          <path
                            data-side="right"
                            class="svg-active-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke-opacity: 0"
                          ></path>
                          <path
                            data-side="left"
                            class="svg-active-555"
                            d="M121,648c-7.3,0-14.1-2.2-19.8-6.4c-10.4-7.6-15.6-20.3-13.4-33l24-139.9l-101.6-99 c-9.1-8.9-12.4-22.4-8.6-34.5c3.9-12.1,14.6-21.1,27.2-23l140.4-20.4L232,164.6c5.7-11.6,17.3-18.8,30.2-16.8c0.6,0,1,0.4,1,1 v430.1c0,0.4-0.2,0.7-0.5,0.9l-126,66.3C132,646.6,126.6,648,121,648z"
                            style="stroke: black; stroke-opacity: 0"
                          ></path>
                        </svg>
                      </div>
                      <div class="jq-star" style="width: 15px; height: 15px">
                        <svg
                          version="1.0"
                          class="jq-star-svg"
                          shape-rendering="geometricPrecision"
                          xmlns="http://www.w3.org/2000/svg"
                          width="550px"
                          height="500.2px"
                          viewBox="0 146.8 550 500.2"
                          style="
                            enable-background: new 0 0 550 500.2;
                            stroke-width: 4px;
                          "
                          xml:space="preserve"
                        >
                          <style type="text/css">
                            .svg-empty-555 {
                              fill: url(#555_SVGID_1_);
                            }
                            .svg-hovered-555 {
                              fill: url(#555_SVGID_2_);
                            }
                            .svg-active-555 {
                              fill: url(#555_SVGID_3_);
                            }
                            .svg-rated-555 {
                              fill: #ffc926;
                            }
                          </style>
                          <linearGradient
                            id="555_SVGID_1_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #dbdbdb"></stop>
                            <stop offset="1" style="stop-color: #dbdbdb"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_2_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_3_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <path
                            data-side="center"
                            class="svg-empty-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke: black; fill: transparent"
                          ></path>
                          <path
                            data-side="right"
                            class="svg-active-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke-opacity: 0"
                          ></path>
                          <path
                            data-side="left"
                            class="svg-active-555"
                            d="M121,648c-7.3,0-14.1-2.2-19.8-6.4c-10.4-7.6-15.6-20.3-13.4-33l24-139.9l-101.6-99 c-9.1-8.9-12.4-22.4-8.6-34.5c3.9-12.1,14.6-21.1,27.2-23l140.4-20.4L232,164.6c5.7-11.6,17.3-18.8,30.2-16.8c0.6,0,1,0.4,1,1 v430.1c0,0.4-0.2,0.7-0.5,0.9l-126,66.3C132,646.6,126.6,648,121,648z"
                            style="stroke: black; stroke-opacity: 0"
                          ></path>
                        </svg>
                      </div>
                      <div class="jq-star" style="width: 15px; height: 15px">
                        <svg
                          version="1.0"
                          class="jq-star-svg"
                          shape-rendering="geometricPrecision"
                          xmlns="http://www.w3.org/2000/svg"
                          width="550px"
                          height="500.2px"
                          viewBox="0 146.8 550 500.2"
                          style="
                            enable-background: new 0 0 550 500.2;
                            stroke-width: 4px;
                          "
                          xml:space="preserve"
                        >
                          <style type="text/css">
                            .svg-empty-555 {
                              fill: url(#555_SVGID_1_);
                            }
                            .svg-hovered-555 {
                              fill: url(#555_SVGID_2_);
                            }
                            .svg-active-555 {
                              fill: url(#555_SVGID_3_);
                            }
                            .svg-rated-555 {
                              fill: #ffc926;
                            }
                          </style>
                          <linearGradient
                            id="555_SVGID_1_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #dbdbdb"></stop>
                            <stop offset="1" style="stop-color: #dbdbdb"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_2_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <linearGradient
                            id="555_SVGID_3_"
                            gradientUnits="userSpaceOnUse"
                            x1="0"
                            y1="-50"
                            x2="0"
                            y2="500"
                          >
                            <stop offset="0" style="stop-color: #ffc926"></stop>
                            <stop offset="1" style="stop-color: #ffc926"></stop>
                          </linearGradient>
                          <path
                            data-side="center"
                            class="svg-empty-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke: black; fill: transparent"
                          ></path>
                          <path
                            data-side="right"
                            class="svg-active-555"
                            d="M520.9,336.5c-3.8-11.8-14.2-20.5-26.5-22.2l-140.9-20.5l-63-127.7 c-5.5-11.2-16.8-18.2-29.3-18.2c-12.5,0-23.8,7-29.3,18.2l-63,127.7L28,314.2C15.7,316,5.4,324.7,1.6,336.5S1,361.3,9.9,370 l102,99.4l-24,140.3c-2.1,12.3,2.9,24.6,13,32c5.7,4.2,12.4,6.2,19.2,6.2c5.2,0,10.5-1.2,15.2-3.8l126-66.3l126,66.2 c4.8,2.6,10,3.8,15.2,3.8c6.8,0,13.5-2.1,19.2-6.2c10.1-7.3,15.1-19.7,13-32l-24-140.3l102-99.4 C521.6,361.3,524.8,348.3,520.9,336.5z"
                            style="stroke-opacity: 0"
                          ></path>
                          <path
                            data-side="left"
                            class="svg-active-555"
                            d="M121,648c-7.3,0-14.1-2.2-19.8-6.4c-10.4-7.6-15.6-20.3-13.4-33l24-139.9l-101.6-99 c-9.1-8.9-12.4-22.4-8.6-34.5c3.9-12.1,14.6-21.1,27.2-23l140.4-20.4L232,164.6c5.7-11.6,17.3-18.8,30.2-16.8c0.6,0,1,0.4,1,1 v430.1c0,0.4-0.2,0.7-0.5,0.9l-126,66.3C132,646.6,126.6,648,121,648z"
                            style="stroke: black; stroke-opacity: 0"
                          ></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                    <div class="price h2">
                    @item.Price <span class="currency"> грн</span>
                  </div>
                   <a href="#" data-id="335" class="add-to-cart btn btn-danger"
                    >Купить</a
                  >
                            </div>
                      </div>
                 </div>
                }
            </div>
            <ul class="pagination">
            <li class="page-item">
              <a
                asp-page="/Products/Products"
                class="page-link active"
                >01</a>
            </li>
            <li class="page-item">
              <a asp-page="/Products/Products" class="page-link"
                >02</a>
            </li>
            <li class="page-item">
              <a href="https://skif-knives.com/shop/?page=3" class="page-link"
                >03</a
              >
            </li>
            <li class="page-item">
              <a href="https://skif-knives.com/shop/?page=4" class="page-link"
                >04</a
              >
            </li>
            <li class="page-item">
              <a href="https://skif-knives.com/shop/?page=5" class="page-link"
                >05</a
              >
            </li>
            <li class="page-item">
              <a href="https://skif-knives.com/shop/?page=6" class="page-link"
                >06</a
              >
            </li>
            <li class="page-item">
              <a href="https://skif-knives.com/shop/?page=7" class="page-link"
                >07</a
              >
            </li>
            <li class="page-item">
              <a href="https://skif-knives.com/shop/?page=8" class="page-link"
                >08</a
              >
            </li>
            <li class="page-item">
              <a href="https://skif-knives.com/shop/?page=9" class="page-link"
                >09</a
              >
            </li>
            <li class="page-item next">
              <a href="https://skif-knives.com/shop/?page=2" class="page-link"
                ><span></span
              ></a>
            </li>
          </ul>
          <div class="article">
<p>Добро пожаловать в каталог украинской торговой марки Skif. Мы упорно трудимся над тем, что бы использование нашей продукции приносило Вам комфорт. Качественные материалы и превосходный производственный процесс гарантирует, что Ваш нож будет служить долгосрочно.</p>
<p>Ножи Skif широко представлены в каталоге нашего интернет-магазина. Здесь Вы найдете не только легкую навигацию, но и самое лучшее обслуживание.</p>
<p>Просмотрите наш огромный выбор ножей для охоты, кемпинга, самозащиты. С момента своего образования ножи Скиф выросли в один из самых уважаемых и популярных брендов со страстью к инновациям и высоким качеством.</p>
<h2>Купить ножи Скиф в Украине</h2>
<p>Вы можете купить нож Скиф у нас и обеспечить себе превосходное качество по доступной цене.</p>
<p>Ножи Скиф Украина – первая марка украинского производства серийных ножей, которая заслужила широкую популярность и дала фору маркам в своем ценовом сегменте.При разработке изделий учитывались пожелания и требования именно украинских пользователей: прочность и надежность конструкции, удобство использования, долговечность режущей кромки и доступная цена изделия для потребителя.</p>
<p>Не смотря на то, что наше фабричное производство находится в Китае, качество продукции не приносится в жертву. Скиф является отличным тому примером. Обэтом свидетельствуют положительные отзывы почитателей нашей ножевой продукции, которые успели испытать все ее достоинства. Чем бы Вы ни занимались: выживанием в диких условиях, готовкой на кухне, спасением заложников из вражеского плена или метанием ножа, ножи Скиф со своим обильным разнообразием моделей всегда придут на помощь.</p>
<p>Скиф шаг за шагом эволюционирует в производстве не только технически и функционально, но и в дизайне и стиле своих изделий. Когда Вы держите нож Скиф в руке, то знаете, что держите качество.</p>
<p>Наша компания всегда в поисках инноваций и разработок, что бы найти правильные стали и материалы. Все ножи эргономичны и удобно помещаются в руке во время резки. На данный момент ножи Скиф купить в Украине Вы можете воспользовавшись нашим сайтом.</p>
<h3>Каталог ножей Скиф - цены и фото</h3>
<p>Каталог ножей Скиф представляет складные ножи, ножи с фиксированным клинком и даже мачете марки Skif.</p>
<p>У нас Вы можете посмотреть ножи Скиф фото различного предназначения: для ежедневного ношения, туристические, тактические, метательные, кухонные.</p>
<p>Только у нас ножи Skif цены доступные, лучший сервис, гарантия качества!</p>
<h4>Клинковое оружие Skif - положения законодательства</h4>
<p>Согласно действующему законодательству, граждане Украины имеют право хранить и носить ножи хозяйственно-бытового назначения без разрешения органов МВД. А вот для ношения и хранения холодного оружия требуется разрешение. Определение понятия холодного оружия регламентирует документ, который называется «Методика криміналістичного дослідження холодної зброї та конструктивно схожих з нею виробів».
</p>
<p>Приобретая холодное оружие Skif, у нас в магазине, вы получите профессиональные консультации о порядке использования, учета, приобретения и хранения.</p>
</div>
          </article>
          </div>
     </section>